@font-face {
  font-family: mgopenmoderna;
  src: url(https://cdn.pinecone.website/fonts/MgOpenModernaRegular.ttf)
    format("truetype");
  font-style: normal;
}

@font-face {
  font-family: mgopenmodernabold;
  src: url(https://cdn.pinecone.website/fonts/MgOpenModernaBold.ttf)
    format("truetype");
  font-style: normal;
}

html {
  font-family: "mgopenmoderna", sans-serif;
}

#player-container {
  width: 300px;
  /* height: 600px; */
  margin: auto;
  background-color: darkorange;
  padding: 1rem;
  border-radius: 1rem;
}

#playlist {
  list-style: none;
  padding: 0;
  background-color: lightsalmon;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0 0 0;
}

#playlist li {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

#playlist li.active {
  background-color: azure;
  transition: background-color 0.3s;
}

#player {
  border-radius: 0.5rem;
}

#thumb {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 0 0 1rem 0;
}
